{% load staticfiles %}
{# About section #}
{% if about_card_section %}

<!-- WORK PROCESS 1 -->
<div id="about" class="page-section" >
  <div class="container fes4-cont">
    <div class="row">

      <div class="col-md-4 ">
        <div class="mb-50">
          <h2 class="section-title">{{about_card_section.title}} <span class="bold">{{about_card_section.title_bold}}</span></h2>
        </div>
        <p class="mb-50 " >{{about_card_section.description}}</p>
      </div>
      <div class="col-md-7 col-lg-offset-1">
        <div class="row">
          {% for topic in about_card_topics %}

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="fes4-box">
              <div class="fes4-title-cont" >
                <div class="fes4-box-icon">
                  <div class="icon {{topic.icon}}"></div>
                </div>
                <h3><span class="bold">{{topic.title}}</span></h3>
                <p>{{topic.description|safe}}</p>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:2 %}
          </div>
          <div class="row">
          {% endif %}
          {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>

{% endif %}
