{% load staticfiles %}

<div id="advantages" class="page-section fes4-cont">
  <div class="container">
    <div class="row">
      {% for topic in advantage_topics %}

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="fes8-box wow fadeIn">
          <div class="fes8-title-cont" >
            <div class="fes8-box-icon">
              <div class="icon {{topic.icon}}"></div>
            </div>
            <h3>{{topic.title}}</h3>
          </div>
          <div>
            {{topic.description|safe}}
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
