{% load staticfiles %}
{% if howitworks_section %}
<div id="howitworks" class="page-section p-80-cont">

  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="mt-60 mb-80">
          <h2 class="section-title">{{howitworks_section.title}}<br><span class="bold">{{howitworks_section.title_bold}}</span>?</h2>
        </div>
        <div class="row">
          {% for topic in howitworks_topics %}
          <div class="col-md-6 col-sm-6">
            <div class="fes7-box mb-20 wow fadeIn" >
              <div class="fes7-box-icon">
                <div class="icon {{topic.icon}}"></div>
              </div>
              <h3><span class="bold">{{topic.title}}</span></h3>
              <p>{{topic.description|safe}}</p>
            </div>
          </div>
          {% if forloop.counter|divisibleby:2 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-md-6 fes9-img-cont clearfix">
        <div class="fes9-img-center clearfix">
          <div class="fes9-img-center">
            <img src="{{howitworks_section.image.url}}" alt="img" class="wow fadeInUp" data-wow-delay="150ms" data-wow-duration="1s">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endif %}
