{% load staticfiles %}
<footer class="page-section pt-80 pb-50">
  <div class="container">

    <div class="footer-2-copy-cont clearfix">
      <!-- Social Links -->
      <div class="footer-2-soc-a right">
        <a href="https://www.facebook.com/farmaciacavalcante/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/farmaciacavalcante/" title="Twitter" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>

      <!-- Copyright -->
      <div class="left">
        <span class="footer-2-copy">&copy; CAVALCANTE CARD 2018-2019</span>
      </div>
    </div>

  </div>
</footer>
