{% load staticfiles %}
<!-- HEADER side menu -->
<header id="nav-stick2" class="header header-1 header-side-menu fixed white no-transparent mobile-no-transparent">
  <div class="header-wrapper">
    <div class="container-m-30 clearfix">
      <div class="row">
        <!-- LOGO -->
        <div class="logo-link col-sm-2 col-md-2 col-xs-12">
          <div class="logo-2">
            <a href="/" class="clearfix">
              <img src="{% static 'images/logo-card.png' %}" alt="Logo">
            </a>
          </div>
        </div>
        <!-- BUTTON -->
        <div class="menu-btn-respons-container">
          <button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
            <span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
          </button>
        </div>
      </div>
    </div>

    <!-- MAIN MENU CONTAINER -->
    <div class="main-menu-container">

        <div class="container-m-30 clearfix">

          <!-- MAIN MENU -->
          <div id="main-menu">
            <div class="navbar navbar-default" role="navigation">

            <!-- MAIN MENU LIST -->
            <nav class="collapse collapsing navbar-collapse right-1024">
              <ul class="nav navbar-nav">
                <!-- MENU ITEM -->
                <li>
                  <a href="#about"><div class="main-menu-title">SOBRE</div></a>
                </li>

                <!-- MENU ITEM -->
                <li>
                  <a href="#benefits"><div class="main-menu-title">BENEFÍCIOS</div></a>
                </li>

                <!-- MENU ITEM -->
                <li>
                  <a href="#howitworks"><div class="main-menu-title">COMO FUNCIONA</div></a>
                </li>

                <!-- MENU ITEM -->
                <li>
                  <a href="#partners"><div class="main-menu-title">PARCEIROS</div></a>
                </li>

                <!-- MENU ITEM -->
                <li>
                  <a href="#contact"><div class="main-menu-title">CONTATO</div></a>
                </li>

                <!-- MENU ITEM -->
                <li>
                  <a href="http://www.softcred.com/cavalcante/Frames.htm" target="_blank"><div class="main-menu-title button medium deeporange">CONSULTA</div></a>
                </li>


              </ul>

            </nav>

            </div>
          </div>
          <!-- END main-menu -->

        </div>
        <!-- END container-m-30 -->

    </div>
    <!-- END main-menu-container -->


  </div>
  <!-- END header-wrapper -->
</header>
