{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'core/partials/home_header.html' %}
  <!-- Flex slides -->
  {% include 'core/sections/intro.html' %}
  <!-- About Card section -->
  {% include 'core/sections/about.html' %}
  <!-- Benefit section -->
  {% include 'core/sections/benefit.html' %}
  <!-- Advantage section -->
  {% include 'core/sections/advantage.html' %}
  <!-- Counter section -->
  {% include 'core/sections/counter.html' %}
  <!-- How it Works section -->
  {% include 'core/sections/howitworks.html' %}
  <!-- Partners section -->
  {% include 'core/sections/partners.html' %}
  <!-- Testimonial section -->
  {% include 'core/sections/testimonial.html' %}
  <!-- Contact section -->
  {% include 'core/partials/contact-us.html' %}
  <!-- Footer section -->
  {% include 'core/partials/footer.html' %}


{% endblock content %}

{% block extrascripts %}

  <!-- NAV SIDEBAR -->
  <script src="{% static 'js/jquery.nav.js' %}"></script>
  <script>
    $(document).ready(function() {

    //NAV SIDEBAR------------------------------------------------------------------
      var top_offset = $('header').height() - 1;  // get height of fixed navbar

      $('#main-menu').onePageNav({
        currentClass: 'current',
        changeHash: false,
        scrollSpeed: 700,
        scrollOffset: top_offset,
        scrollThreshold: 0.5,
        filter: '',
        easing: 'swing',
        begin: function() {
          //I get fired when the animation is starting
        },
        end: function() {
          $('.navbar-toggle').click();
          //I get fired when the animation is ending
        },
        scrollChange: function($currentListItem) {
          //I get fired when you enter a section and I pass the list item of the section
        }
      });
    });
  </script>

{% endblock extrascripts %}
